# PDK (symlink, no subir)
pdk/

# Synopsys generated
*.pvl
*.syn
*.mr
*.log
*.svf
*.dlib/
alib-52/
*.daidir/
csrc/
simv
simv.daidir/
AN.DB/
default.svf
command.log

# ICC2
*.dlib
*.nlib

# Large files
*.gds
*.oas
